.idea/
AdvancedKitsReloaded.iml
target/classes/
target/maven-status/
target/maven-archiver/
target/surefire/
.atom-build.yml
.classpath
.project
dependency-reduced-pom.xml
src.zip
target/AdvancedKitsReloaded.jar
target/AdvancedKitsReloaded.jar